a.resource-link {
  color: #333;
}

a.resource-link:hover {
  color: #777;
}

a.resource-link.activeAnchor {
  color: #40a9ff;
  /*color: #52c41a;*/
}

.resource-icon {
  margin-right: 8px;
}


.path {
  margin-right: 15px;
}

.path.current {
  color: gray;
}

.tool-btns button {
  margin-left: 15px;
}

.ant-table-body {
  overflow: auto;
}

.file .thumb a {
  //position: relative;
  //height: 100px;
  //width: 100px;
  //display: inline-block;
}

.file .thumb {
  //padding-right: 5px;
}

.file .thumb a img {
  max-width: 100%;
  max-height: 100%;
  //position: absolute;
  //left: 50%;
  //top: 50%;
  //transform: translate(-50%, -50%);
}

.file .file-title {
  //border:1px solid #000;
  //display: table-cell;
  //vertical-align: middle;
  //display: flex;
  //position: relative;
  //height: 100%;
}

.file .file-title a {
  padding-left:10px;
  word-break: break-all;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}